.toggle-down {
	z-index: 2;
	cursor: pointer;
	position: absolute;
    top: 50%;
    left: initial;
    right: 16px;
    bottom: initial;
    transform: translate(0, -50%);

	@include breakpoint(tablet) {
		display: none;
	}

	.menu-toggle-btn { 
		display: inline-block; 
		vertical-align: middle;

		span {
			background: $white;
			display: block; 
			width: 30px;
			height: 2px;
			margin-bottom: 8px;
			transition: all 0.3s linear;

			&:last-child {
				margin-bottom: 0; 
			}
		}
	}

	&.toggleDrawer {
		.menu-toggle-btn {
			padding: 0;

			span {
				background: $red;

				&:nth-child(1) {
					margin: 0;
					transform: translate(0px, 1px) rotate(-45deg) scalex(1);
				}

				&:nth-child(2) {
					margin: 0;
					transform: translate(40px, 0px) scalex(1);
					height: 0;
				}

				&:nth-child(3) {
					margin: 0;
					transform: translate(0px, -1px) rotate(45deg) scalex(1);
				}
			}
		}
	}
}