.select2-container--default {
	.select2-selection--single {
		outline: 0;
		height: auto;
		border-color: #ccc;
		box-shadow: none;

		.select2-selection__arrow {
			top: 50%;
			right: 6px;
			transform: translate(0, -50%);
		}
	}

	.select2-search--dropdown {
		.select2-search__field {
			outline: 0;
			border-color: #ccc;
		}
	}
}

.select2-container {
	.select2-selection--single {
		.select2-selection__rendered {
			padding: 8px 24px 8px 12px;
			height: auto;
			color: $text;
			font-size: 14px;
			line-height: 150%;
		}
	}
}

.select2-dropdown {
	border-color: #ccc;
	color: $text;
}