.select2-container--default {
	.select2-selection--single {
		outline: 0;
		height: auto;
		border-color: $border-gray;
		box-shadow: none;

		.select2-selection__arrow {
			top: 50%;
			right: 6px;
			transform: translate(0, -50%);
		}
	}

	.select2-search--dropdown {
		.select2-search__field {
			outline: 0;
			border-color: $border-gray;
		}
	}
}

.select2-container {
	.select2-selection--single {
		box-shadow: none;

		.select2-selection__rendered {
			color: $text;
			line-height: 150%;
		}
	}
}

.select2-dropdown {
	border-color: $border-gray;
	color: $text;
}



.select2-container--bootstrap {
	&.select2-container--focus,
	&.select2-container--open {
		.select2-selection {
			box-shadow: none;
		}
	}

	.select2-selection {
		border-color: $border-gray;
	}

	.select2-selection--single {
		height: 35px;
	}
}