.datepicker {
	background-color: $white;
	border: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: 0 1px 10px rgba(0,0,0,0.2);

	table {
		width: 100%;
		margin: 0 auto;
		border-collapse: separate;
		border-spacing: 10px;

		tr {
			th {
				padding: 0;
				height: 27px;
				width: 27px;
				border-radius: 100%;
			}

			td {
				padding: 0;
				height: 27px;
				width: 27px;
				border-radius: 6px;

				span {
					height: 50px;
					line-height: 50px;
					border-radius: 6px;

					&.active {
						background: $primary;
						color: $white;
						border: 0;
						text-shadow: none;
						box-shadow: none;

						&.active {
							background: $primary;
							color: $white;
							text-shadow: none;
						}

						&:hover {
							&.active {
								background: $primary;
								color: $white;	
							}
						}
					}
				}

				&.today {
					background: $green;
					color: $white;

					&:hover {
						&:hover {
							background: $green;
							color: $white;	
						}
					}
				}

				&.active {
					background: $primary;
					color: $white;
					border: 0;
					text-shadow: none;
					box-shadow: none;

					&.active {
						background: $primary;
						color: $white;
						text-shadow: none;
					}

					&:hover {
						&.active {
							background: $primary;
							color: $white;	
						}
					}
				}
			}
		}

		thead {
			th {
				i {
					font-size: 1.3em;
					line-height: 100%;
					pointer-events: none;
				}
			}
		}

		tfoot {
			display: none;
		}
	}

	&.date-sort {
		padding: 58px 20px 20px;
	}

	.datepicker-switch {
		&:hover {
			background-color: transparent;
		}
	}
}

.custom-datepicker-inline {
	.datepicker-inline {
		width: 100%;
	}

	.datepicker {
		background-color: transparent;
		box-shadow: none;

		table {
			width: 100%;
		}
	}
}