@@include('../Shared/header.html')

	@@include('../Shared/navbar-header.html')

	<main>
		<div class="hero-banner component">
			<div class="slider-wrapper">
				<div class="slider-banner" style="background-image: url('assets/img/banner/img-resto1.jpg');"></div>
				<div class="slider-banner" style="background-image: url('assets/img/banner/img-resto2.jpg');"></div>
			</div>
			<div class="filter-area">
				<form action="" class="form-area">
					<div class="form-group">
						<select class="custom-dropdown form-control" name="location[]" placeholder="Lokasi">
							<option>Lokasi Rumah Sakit / Klinik</option>
							<option value="JT">Jakarta Timur</option>
							<option value="JS">Jakarta Selatan</option>
							<option value="JB">Jakarta Barat</option>
							<option value="JP">Jakarta Pusat</option>
							<option value="BK">Bekasi</option>
							<option value="BG">Bogor</option>
							<option value="TG">Tanggerang</option>
						</select>
					</div>
					<div class="form-group">
						<select class="custom-dropdown form-control" name="doctor[]" placeholder="Spesialisasi Dokter">
							<option>Spesialisasi Dokter</option>
							<option value="DG">Dokter Gigi</option>
							<option value="DU">Dokter Umum</option>
							<option value="DB">Dokter Bedah</option>
							<option value="DK">Dokter Kandungan</option>
							<option value="DT">Dokter THT</option>
							<option value="DJ">Dokter Jaga</option>
						</select>
					</div>
					<div class="form-group">
						<div class="input-group date" data-provide="datepicker">
							<input type="text" class="form-control" placeholder="Pilih Tanggal">
							<div class="input-group-addon">
								<span class="fa fa-calendar"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="button solid">Cari</button>
					</div>
				</form>
			</div>
		</div>

		<div class="menu-navigation component">
			<div class="container-fluid">
				<div class="title-section text-center">
					<h3>Menu Navigation</h3>
					<h6>Subtitle</h6>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a href="#">
							<div class="box">
								<img src="assets/img/icon/icon-plane.svg" alt="">
								<span>Pesawat</span>
							</div>
						</a>
					</div>
					<div class="col-xs-4">
						<a href="#">
							<div class="box">
								<img src="assets/img/icon/icon-hotel.svg" alt="">
								<span>Hotel</span>
							</div>
						</a>
					</div>
					<div class="col-xs-4">
						<a href="#">
							<div class="box">
								<img src="assets/img/icon/icon-train.svg" alt="">
								<span>Kereta Api</span>
							</div>
						</a>
					</div>
					<div class="col-xs-4">
						<a href="#">
							<div class="box">
								<img src="assets/img/icon/icon-plane.svg" alt="">
								<span>Pesawat</span>
							</div>
						</a>
					</div>
					<div class="col-xs-4">
						<a href="#">
							<div class="box">
								<img src="assets/img/icon/icon-hotel.svg" alt="">
								<span>Hotel</span>
							</div>
						</a>
					</div>
					<div class="col-xs-4">
						<a href="#">
							<div class="box">
								<img src="assets/img/icon/icon-train.svg" alt="">
								<span>Kereta Api</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="card-slider component">
			<div class="container-fluid">
				<div class="title-section text-center">
					<h3>Promo Spesial Kami!</h3>
				</div>
				<div class="slider-area">
					<div class="slider-wrapper">
						<div class="slider-content card" style="background-image: url('assets/img/banner/img-banner-promo-detail.jpg');">
							<a href="#" class="click-area"></a>
						</div>
						<div class="slider-content card" style="background-image: url('assets/img/banner/img-banner-promo.jpg');">
							<a href="#" class="click-area"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="thumb-slider component">
			<div class="container-fluid">
				<div class="title-section text-center">
					<h3>Kenapa Medika App?</h3>
				</div>
				<div class="slider-area">
					<div class="slider-wrapper">
						<div class="slider-content text-center">
							<div class="wrapper">
								<div class="image-area">
									<div class="image" style="background-image: url('assets/img/banner/img-resto1.jpg');"></div>
								</div>
								<div class="desc-area">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
								<a href="#" class="click-area"></a>
							</div>
						</div>
						<div class="slider-content text-center">
							<div class="wrapper">
								<div class="image-area">
									<div class="image" style="background-image: url('assets/img/banner/img-resto2.jpg');"></div>
								</div>
								<div class="desc-area">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
								<a href="#" class="click-area"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


@@include('../Shared/footer.html')
