body {
	&.on-scroll {
		.header-fix {
			background-color: $primary;

			.brand-logo {
				.logo {
					background-image: url('../img/logo-white.png');
				}
			}

			.header-menu {
				&.logo-menu {
					.button-action {
						color: $white;
					}
				}

				.action-nav {
					.button-action {
						color: $white;
					}
				}

				.title-toolbar {
					h5 {
						color: $white;
					}

					h6 {
						color: $white;
					}
				}

				.header-menu-wrapper {
					.title-toolbar {
						h5 {
							color: $white;
						}

						h6 {
							color: $white;
						}
					}
				}

				.drawer-menu {
					.icon-nav {
						color: $white;
					}

					.drawer-header {
						background-color: $primary;
						
						h5 {
							color: $white;
						}
					}
				}
			}
		}

		.show-overlay {
			.header-overlay {
				background-color: $primary;

				h5 {
					color: $white;
				}
			}
		}
	}
}

.header-fix {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: initial;
	width: 100%;
	z-index: 5;
	background-color: $white;
	box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1), 0 4px 8px 0 rgba(27,27,27,0.1);
	transition: all 0.3s linear;

	.header-logo {
		display: block;
		z-index: 2;
		position: relative;
		float: left;
	}

	.brand-logo {
		display: block;
		
		@include breakpoint(small-mobile) {
			font-size: 1.34em;
		}

		a {
			display: inline-block;
			vertical-align: middle;
			color: $white;
			padding: 10px 16px;

			&:hover {
				color: $red;
			}
		}

		.logo {
			display: block;
			width: 62px;
			height: 30px;
			background-image: url('../img/logo-default.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			transition: all 0.3s linear;

			@include breakpoint(tablet) {
				width: 124px;
				height: 60px;
			}
		}

		strong {
			display: none;
		}
	}

	.header-menu {
		display: table;
		width: 100%;

		&.logo-menu {
			.button-action {
				padding: 10px 16px;
				font-size: 1.5em;
				display: inline-block;
				vertical-align: middle;
				line-height: 160%;
				height: 50px;
			}
		}

		&.flex-menu {
			.header-menu-wrapper {
				display: flex;
				align-items: center;

				.action-nav {
					min-width: 50px;

					.button-action {
						padding: 10px 16px;
						font-size: 1.4em;
						display: block;
						height: 50px;
						line-height: 130%;
						transition: all 0.3s linear;

						&.back {
							font-size: 2em;
							line-height: 90%;
						}
					}
				}

				.title-toolbar {
					padding: 0 10px;
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1 1;

					h5 {
						font-family: 'opensans-semibold';
						color: $black;
						font-size: 16px;
						margin: 0;
						transition: all 0.3s linear;

						+ h6 {
							margin: 4px 0 0;
						}
					}

					h6 {
						font-size: 11px;
						color: $text-darkgray;
						margin: 0;
						transition: all 0.3s linear;
					}
				}
			}
		}

		.side {
			&.right {
				text-align: right;
				float: right;
			}
		}

		.title-toolbar {
			&.center {
				text-align: center;
			}
		}

		.drawer-menu {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: initial;
			display: block;
			width: 100%;
			overflow: auto;
			background-color: #fcfdfe;
			transform: translate3d(100%,0,0);
			transition: transform .24s cubic-bezier(.33,.66,.66,1);

			&.showing {
				transform: translate3d(0,0,0);
			}

			.drawer-header {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: initial;
				z-index: 3;
				background-color: $white;
				display: flex;
				align-items: center;
				box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1), 0 4px 8px 0 rgba(27,27,27,0.1);

				&.center {
					text-align: center;
				}

				.hide-drawer {
					font-size: 2em;
					padding: 10px 16px;
					display: block;
					line-height: 90%;
					height: 50px;

					&.times {
						font-size: 28px;
						line-height: 100%;
						font-weight: bold;
					}
				}

				.icon-nav {
					min-width: 50px;
				}

				h5 {
					font-family: 'opensans-semibold';
					color: $black;
					font-size: 16px;
					margin: 0;
					padding: 0 10px;
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1 1;
				}
			}

			.drawer-content {
				padding: 20px 0;
				position: absolute;
				top: 50px;
				left: 0;
				right: 0;
				bottom: 0;
				overflow-x: hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;

				.list-group-item {
					border-left: 0;
					border-right: 0;
					padding: 10px 32px 10px 16px;
					border-color: $border-gray;

					&:first-child,
					&:last-child {
						border-radius: 0;
					}

					.arrow-nav {
						color: $text-darkgray;
						position: absolute;
						z-index: 1;
						pointer-events: none;
						top: 50%;
						left: initial;
						right: 16px;
						bottom: initial;
						font-size: 1.6em;
						transform: translate(0, -50%);
					}
				}
			}
		}
	}
}

.show-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: initial;
	right: 0;
	height: 50px;
	z-index: 10;

	.header-overlay {
		height: 100%;
		display: flex;
		align-items: center;
		background-color: $white;
		box-shadow: 0 1px 3px 0 rgba(27,27,27,0.1), 0 4px 8px 0 rgba(27,27,27,0.1);

		h5 {
			font-size: 16px;
			font-family: 'opensans-semibold';
			color: $black;
			width: 100%;
			text-align: center;
			margin: 0;
			padding: 5px 36px;
		}

		.close {
			opacity: 1;
			font-size: 28px;
			line-height: 100%;
			min-height: 0;
			margin-top: -1px;
			color: $primary;
			outline: 0;
			position: absolute;
			z-index: 1;
			top: 50%;
			left: initial;
			right: 16px;
			bottom: initial;
			text-shadow: none;
			transform: translate(0, -50%);
		}
	}
}