		<footer>
			<div class="info-download component">
				<div class="container-fluid">
					<div class="title-section text-center">
						<h3>Download Medika App sekarang!</h3>
					</div>
					<div class="download-link">
						<ul class="row">
							<li>
								<a href="javascript:void(0)">
									<img src="assets/img/mcd_button_appstore.png" alt="App Store">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="assets/img/mcd_button_playstore.png" alt="Play Store">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="social-media component">
				<div class="container-fluid">
					<div class="social-media-link">
						<a href="javascript:void(0)">
							<i class="fa fa-instagram"></i>
							<span>Instagram</span>
						</a>
						<a href="javascript:void(0)">
							<i class="fa fa-facebook-square"></i>
							<span>Facebook</span>
						</a>
						<a href="javascript:void(0)">
							<i class="fa fa-twitter-square"></i>
							<span>Twitter</span>
						</a>
					</div>
				</div>
			</div>

			<div class="footer-copyright component">
				<div class="container-fluid">
					<ul class="flat">
						<li>
							<a href="javascript:void(0)">
								<img src="assets/img/logo-white.png" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="assets/img/logo-white.png" alt="">
							</a>
						</li>
					</ul>
					<p class="copyright-info">Copyright © 2018 PT Medika Cipta Digital. All Rights Reserved.</p>
				</div>
			</div>
		</footer>


		<!-- JS FOR PRODUCTION -->
		<!-- <script src="assets/js/js-prod.min.js" ></script> -->

		<!-- JS FOR DEVELOPMENT -->
		<script src="assets/js/vendor.min.js" ></script>
		<script src="assets/js/plugins.min.js" ></script>
		<script src="assets/js/app.min.js" ></script>

	</body>
</html>
