	<header class="header-fix">
		<nav class="header-menu logo-menu">
			<div class="row">
				<div class="col-xs-6 side">
					<h1 class="brand-logo">
						<a href="index.html">
							<span class="logo"></span>
							<strong>Mobile Component</strong>
						</a>
					</h1>
				</div>
				<div class="col-xs-6 side right">
					<a href="javascript:void(0)" class="button-action drawer">
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</div>
			</div>
			<div class="drawer-menu" id="drawer-menu-search">
				<div class="drawer-header center">
					<a href="javascript:void(0)" class="icon-nav hide-drawer">
						<i class="fa fa-angle-left"></i>
					</a>
					<h5>Menu</h5>
					<span class="icon-nav"></span>
				</div>
				<div class="drawer-content">
					<a href="javascript:void(0)" class="list-group-item">
						Cras justo odio
						<i class="arrow-nav fa fa-angle-right"></i>
					</a>
					<a href="javascript:void(0)" class="list-group-item">
						Dapibus ac facilisis in
						<i class="arrow-nav fa fa-angle-right"></i>
					</a>
					<a href="javascript:void(0)" class="list-group-item">
						Morbi leo risus
						<i class="arrow-nav fa fa-angle-right"></i>
					</a>
					<a href="javascript:void(0)" class="list-group-item">
						Porta ac consectetur ac
						<i class="arrow-nav fa fa-angle-right"></i>
					</a>
					<a href="javascript:void(0)" class="list-group-item">
						Vestibulum at eros
						<i class="arrow-nav fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</nav>
	</header>